@switch(layout) {
  @case ('empty') {
  <!-- ----------------------------------------------------------------------------------------------------- -->
  <!-- Empty layout -->
  <!-- ----------------------------------------------------------------------------------------------------- -->
  <empty-layout></empty-layout>
  } @case('authorization') {
  <!-- Authorization layout -->
  <authorization-layout></authorization-layout>
  } @case('general') {
  <!-- Genral -->
  <general-layout></general-layout>
  }
}
