<form class="pt-2" [formGroup]="form" novalidate>
  <div class="relative overflow-hidden flex flex-auto flex-wrap p-2">
    <div class="flex flex-col mb-2 pr-2">
      <div class="flex flex-wrap items-baseline">
          <!-- First Name field -->
          <mat-form-field class="w-full pt-2 mb-2" appearance="outline">
              <mat-label>Nombre</mat-label>
              <input id="nombre" matInput formControlName="nombre">
              <!-- errors -->
              <mat-error *ngIf="isError('nombre', 'required')">Nombre Requerido</mat-error>
          </mat-form-field>

          <mat-form-field class="w-full mb-2" appearance="outline">
              <mat-label>Telefono</mat-label>
              <input id="telefono" matInput formControlName="telefono">
              <!-- errors -->
              <mat-error *ngIf="isError('telefono', 'required')">Telefono Requerido</mat-error>
          </mat-form-field>

          <mat-form-field class="w-full mb-2" appearance="outline">
            <mat-label>Distrito</mat-label>
            <mat-select formControlName="distrito">
                <mat-option *ngFor="let distrito of (distritoDataService.entities$ | async)" [value]="distrito.prefix">
                    {{ distrito.prefix }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="isError('distrito', 'required')">Distrito Requerido</mat-error>
          </mat-form-field>

          <mat-form-field class="w-full" appearance="fill">
              <mat-label>Dirección</mat-label>
              <textarea matInput formControlName="direccion" class="p-0" rows="2"></textarea>
              <!-- errors -->
              <mat-error *ngIf="isError('direccion', 'required')">Dirección Requerida</mat-error>
          </mat-form-field>
      </div>
    </div>
  </div>
</form>
