<form class="pt-2" [formGroup]="form" novalidate autocomplete="on" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  <!-- Client ID field -->
  <mat-form-field class="w-full" appearance="outline"
      [ngClass]="{'green': form.controls.clientId.valid && !form.disabled, 'warning': !form.controls.clientId.valid && form.controls.clientId.touched && !form.disabled,
          'pb-5': isError('clientId', 'required')}">
      <mat-label>Client ID</mat-label>
      <input id="clientId" matInput formControlName="clientId" #clientIdField autofocus>

      <!-- suffix icons on success and failure -->
      <i class="material-icons text-warn-500" *ngIf="!form.controls.clientId.valid && form.controls.clientId.touched && !form.disabled" matSuffix>error_outline</i>
      <i class="material-icons text-green-500" *ngIf="form.controls.clientId.valid && !form.disabled" matSuffix>check</i>

      <!-- errors -->
      <mat-error *ngIf="isError('clientId', 'required')">Client ID Required</mat-error>
  </mat-form-field>
</form>
