
<section>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 section-form">
          <div class="p-6 pt-4 space-y-4 md:space-y-6">
              <img src="/assets/images/logo/pepsico-logo.jpeg" class="w-full h-[180px] h-auto m-auto"/>
              <h1 class="font-bold leading-tight tracking-tight text-primary-700 text-3xl">
                  Bienvenido a Pepsico, Cerca de ti!
              </h1>
              <span class="text-orange-500 font-semibold text-2xl">¡Tu compañero en ventas!</span>
              <div class="space-y-4 md:space-y-6">
                  <pco-sign-in-form></pco-sign-in-form>
                  <span *ngIf="message()" class="text-red-500">
                    {{ message() }}
                  </span>

                  <button class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                    (click)="login()" [disabled]="networkActive()">
                    <div class="w-full flex items-center text-center justify-center">
                        <div class="pr-2">Iniciar Sesión</div>
                        <mat-progress-spinner class="text-white"
                            *ngIf="networkActive()"
                            [diameter]="16"
                            [mode]="'indeterminate'">
                        </mat-progress-spinner>
                    </div>
                  </button>

                  <p class="text-lg font-light text-gray-600 font-semibold">
                      Aun no cuentas con tu ID de cliente? <a [routerLink]="registerRoute"
                        class="font-medium text-primary-600">Registrar</a>
                  </p>
                </div>
          </div>
      </div>
  </div>
</section>
