
<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="w-full text-start p-2">
            <mat-icon class="text-primary-600 cursor-pointer" [routerLink]="signInRoute">arrow_back</mat-icon>
          </div>
          <div class="p-6 pt-1 space-y-4 md:space-y-2">
            <!-- px-6 py-2 space-y-4 md:space-y-6 sm:p-8 -->
              <img src="/assets/images/ui/new_client.png" class="w-[80px] h-auto m-auto"/>
              <div class="flex flex-col">
                <p class="font-bold leading-tight tracking-tight text-primary-700 sm:text-4xl text-3x1 dark:text-white text-center">
                  ¡Felicidades!
                </p>

                <p class="font-semibold leading-tight tracking-tight text-primary-700 sm:text-3xl text-2x1 dark:text-white text-center">
                  'Nombre de usuario'
                </p>
                <span class="text-orange-500 font-bold py-4">¡Ahora eres parte the la familia Pepsico!</span>
                <span class="text-primary-500 font-semibold">
                  Como nuevo cliente para nosotros tu opinition es muy importante, con el siguiente numero de cliente
                  <b class="text-primary-700">000021222</b>, podras entrar a nuestro sitio y consultar o reportar cualquier detalle.
                </span>

                <span class="text-primary-500 font-bold pt-4"><b>Nota:</b> Porfavor asegurate de recordar el numero de cliente</span>
              </div>

              <div class="space-y-4 md:space-y-6">
                  <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Iniciar Sesión
                  </button>
                </div>
          </div>
      </div>
  </div>
</section>
